[Unit]
Description=Power Control Monitor Service
Documentation=https://github.com/username/linux-power-manager

[Service]
Type=oneshot
ExecStart=/usr/local/bin/power-control-modular.sh monitor
User=root
Environment=DISPLAY=:0
